.FoodCourtTemplate {
  width: 768px;
  display: flex;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.FoodCourtTemplate h2 {
  margin-top: 0;
}

.FoodCourtTemplate > div {
  padding: 1rem;
  flex: 1;
}

.FoodCourtTemplate .items-wrapper {
  background: #f8f9fa;
}
